$baseUrl : "/web/img/";

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

* {
    margin: 0;
    padding: 0;
    font-family: "Exo";
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body {
    // background-image: url($baseUrl + "seigaiha.png");
    background-image: url($baseUrl + "whirlpool.png");
}

.home {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;

    .home__container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        @media (min-width: $sm) {
            width: auto;
        }
    }

    .home__portrait {
        max-height: 40vh;
        max-width: 75vw;
        margin: 0 auto 10px;
        display: block;
    }

    .home__title {
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
        font-size: 1.7rem;
        letter-spacing: 2px;
        margin:0;
        display: inline-block;
        position: relative;
        padding: 0 15px;

        @media (min-width: $sm) {
            font-size: 2.2rem;
            padding: 0 20px;   
        }

        &:before, &:after {
            display: block;
            content: "";
            width: 30px;
            height: 1px;
            background: #999;
            position: absolute;
            top:50%;

        }

        &:before {
            left: -30px;
        }

        &:after {
            right: -30px;
        }
    }

    .home__subtitle {
        font-family: "Montserrat";
        font-weight: 300;
        margin:0;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 1px;
        color: #333;
        @media (min-width: $sm) {
            font-size: 1.15rem;
        }
    }

    .home__socials {
        margin: 20px 0 0;
    }

    .home__link {
        text-decoration: none;
        color: #999;
        display: inline-block;
        font-size: 1.4rem;
        margin: 0 5px;
        cursor: pointer;

        @media (min-width: $sm) {
            font-size: 1.75rem;
            margin: 0 10px;   
        }

        &:hover {
            color: #ccc;
        }
    }
}