* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat"; }

html {
  font-size: 16px; }

body {
  background-image: url("/web/img/whirlpool.png"); }

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .-loaded .home__portrait,
  .-loaded .home__title,
  .-loaded .home__subtitle,
  .-loaded .home__socials {
    opacity: 1; }
  .home__container {
    width: 100%; }
    @media (min-width: 576px) {
      .home__container {
        width: auto; } }
  .home__portrait {
    display: block;
    max-height: 40vh;
    max-width: 75vw;
    margin: 0 auto 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0;
    transition: 1s opacity linear; }
  .home__title {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 15px;
    color: #fff;
    font-family: "Exo";
    font-size: 1.7rem;
    text-shadow: 0px 0px 14px #969696;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s opacity 0.4s linear; }
    @media (min-width: 576px) {
      .home__title {
        padding: 0 20px;
        font-size: 2.2rem; } }
    .home__title:before, .home__title:after {
      position: absolute;
      top: 50%;
      display: block;
      width: 30px;
      height: 1px;
      background-color: #999;
      content: ""; }
    .home__title:before {
      left: -30px; }
    .home__title:after {
      right: -30px; }
  .home__subtitle {
    margin: 0;
    color: #333;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    opacity: 0;
    transition: 1s opacity 0.4s linear; }
    @media (min-width: 576px) {
      .home__subtitle {
        font-size: 1.15rem; } }
  .home__socials {
    margin: 20px 0 0;
    opacity: 0;
    transition: 1s opacity 0.6s linear; }
  .home__link {
    display: inline-block;
    margin: 0 10px;
    color: #999;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer; }
    @media (min-width: 576px) {
      .home__link {
        font-size: 1.75rem; } }
    .home__link:hover {
      color: #ccc; }
